[Unit]
Description=OCEIF REST API
After=network.target blockchain-node.service
Wants=blockchain-node.service

[Service]
Type=simple
# đổi thành username của bạn:
User=tuyenpkt
WorkingDirectory=/home/tuyenpkt/blockchain-rust
ExecStart=/home/tuyenpkt/blockchain-rust/target/release/blockchain-rust api 3000
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=blockchain-api

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
