[Unit]
Description=PKTScan API Server
After=network.target
Wants=blockchain-node.service

[Service]
Type=simple
User=tuyenpkt
WorkingDirectory=/home/tuyenpkt/blockchain-rust
ExecStart=/home/tuyenpkt/blockchain-rust/target/release/blockchain-rust pktscan 8081
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pktscan

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
